/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*Home Section*/
Home Section{
  background-color: black;
    color: white;
    padding: 20px 50px;
    font-size: 12px;
}

/*Footer*/
Footer{
    background-color: black;
    color: white;
    padding: 20px 50px;
    font-size: 12px;
}
